.tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.tabla th {
    background-color: #f2f2f2;
}
